<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Luxepolis UAT Suite">

    <listeners>
        <listener class-name="Utilities.Listener"/>
    </listeners>

    <test name="Login Test">
        <classes>
         
            <class name="Test_Cases.TC_001_Add_To_Cart_Payu_Prashant"/>
      <!--       <class name="Test_Cases.TC_002_Add_To_Cart_Coupon_Shruti"/>
              <class name="Test_Cases.TC_001_Add_to_Cart_COD_Sandeep"/>
            <class name="Test_Cases.TC_002_Add_to_Cart_International_COD_Sandeep"/> -->
        </classes>
    </test>

</suite>
